body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #00ffff, #ffff00);
    background-size: 100% 200%;
    animation: Gradient 3s ease infinite;
}

@keyframes Gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}